@use "abstract/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600;700&display=swap");

$ff: "Spartan", sans-serif;
$fw-bold: 700;
$fw-semiBold: 600;

body {
  font-family: $ff;
  font-weight: $fw-bold;
}
