@use "abstract/mixins" as *;
@use "base/colors" as c;

.customRadio {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--toggle-bg);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--key-bg-toggle);
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--key-bg-toggle);
    border-radius: 50%;
    transform: scale(0);
  }
}

.radioInput:checked + 
.customRadio::after {
  transform: scale(1);
}

.radioInput {
    display: none;
  }